@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: block;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  color: rgb(170, 170, 170);
  font-size: small;
}

h2 {
  color: white;
  font-weight: 500;
}
h3 {
  color: white;
  font-weight: 500;
}

.custom-blur {
  backdrop-filter: blur(20px);
}

.dragon {
  background-image: url("../src/assets/background_dragon.png");
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.custom-button {
  border: 0.1rem solid #5f3166;
  background-image: linear-gradient(
      /* rgba(254, 200, 241, 1), */ rgba(212, 149, 198, 0.845) 0%,
      rgba(237, 146, 215, 0) 15%
    ),
    radial-gradient(
      ellipse at bottom right,
      rgba(96, 46, 166, 0) 5%,
      rgba(201, 119, 214, 1) 200%
    );
}

.close-button{
background-image: url("/src/assets/arrow.png");
}

.custom-button-explore {
  border: 0.2em solid #0000;
  border-radius: 10px;
  background: linear-gradient(
        to bottom,
        #22243f,
        #272b48 49%,
        rgba(0, 0, 0, 0) 50%
      )
      padding-box,
    linear-gradient(to bottom, #21253d 51%, #272e49 100%) padding-box,
    linear-gradient(to bottom, #404477, #292e4b 49%, rgba(0, 0, 0, 0) 50%)
      border-box,
    linear-gradient(to bottom, #1c1d34 51%, #1c2133 100%) border-box;
}

.custom-border-newscard {
  border: 0.1em solid #0000;
  border-radius: 0 24px 24px 0;
  background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        #1c1f3b 25%,
        #1a152d 50%,
        #120718 100% /* rgba(0,0,0,1) 100% */
      )
      padding-box,
    radial-gradient(
        ellipse at bottom left,
        rgba(0, 0, 0, 0) 70%,
        #3342ff 80%,
        #37f4f4 85%,
        #3342ff 90%,
        #252d7c 100%
      )
      border-box;
}

.custom-border-notification {
  border: 0.1em solid #0000;
  background: linear-gradient(to bottom, #1d253f 20%, rgba(0, 0, 0, 0) 100%)
      padding-box,
    linear-gradient(to bottom, #3b4b82 0%, rgba(0, 0, 0, 0) 60%) border-box;
}

.custom-border-sidebar {
  border-width: 0 0 0 0.1em;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 8%,
      #37f4f4 25%,
      rgba(0, 0, 0, 0) 60%
    )
    0 10 0;
}

.custom-border-navbar {
  border: 0 0 0.1em 0.1em solid #0000;
  background: linear-gradient(to right, #1b3351a2, #240621) padding-box,
    linear-gradient(to right, #37f4f4 0%, rgba(0, 0, 0, 0) 60%) border-box;
}
.custom-bg-size {
  background-size: auto 100%;
  min-height: 100%;
}

/* tailwind md */
@media (min-width: 768px) {
  .left-point {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 10% 100%, 0 0);
  }
}

@media (min-width: 1400px) {
  .custom-bg-size {
    background-size: auto 140%;
    min-height: 100%;
  }
}
/* .lines{
  background-image:
linear-gradient(90deg, transparent 1px, #abced4 1px, #abced4 1px, transparent 1px),
linear-gradient(#665f5f .1em, transparent .1em);
background-size: 100% .6em;
} */
.lines {
  background-image: linear-gradient(#5676b1 0.1em, transparent 0.1em);
  background-size: 100% 0.6em;
  mask-image: linear-gradient(transparent, rgba(0, 0, 0, 1), transparent);
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
